#video {
    width: 100%;
    height: auto;
}

#container > video, #container > canvas {
    width: 100%;
}
#container > canvas {
    position: absolute;
    left: 0px; top: 0px;
}

#container > video, #container > canvas {
    width: 100%;
}
#container > canvas {
    position: absolute;
    left: 0px; top: 0px;
}

#canvas {
    width: 100%;
    height: auto;
}